@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-karla { font-family: Roboto; }
.bg-sidebar { background: #321F28; }
.cta-btn { color: #321F28; }
.upgrade-btn { background: #734046; }
.upgrade-btn:hover { background: #0038fd; }
.active-nav-link { background: #734046; }
.nav-item:hover { background: #734046; }
.account-link:hover { background: #321F28; }